# Google Analytics 4, por exemplo: G-XXXXXXXXXX
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=

# Google Ads, por exemplo: AW-XXXXXXXXXX
NEXT_PUBLIC_GOOGLE_ADS_ID=

# Código de verificação do Google Search Console
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
